*,*:after,*:before{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.glyphicon-arrow-right{
	float: right;
	font-size: 40px;

	color: white;
}
#next{
	color: black;
}
#res{
	visibility: hidden; 
}
#datos{
	
}

.rango{
	color: black;
	font-size: 20px;
	margin-top: 0px;
	text-align: center;
	color: white;
}	

#textInput{
	text-align: center;
	
}

#caja{
	text-align: center;
	
}

#contenedor_carga{
	background-color: blue; 
	height: 100%;
	width: 100%;
	position: fixed;
	margin: auto;
	transition: all 1s ease;
	z-index: 10000;
}

#carga{
	border: 15px solid #ccc;
	border-top-color: #F4266A;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	animation: girar 1.5s linear infinite;  
}

#logo{
	width: 200px;
	position: absolute;
	top: -50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: transparent;
}

#ejercicio{
	width: 100px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#explicacion{
	background-color: black;
	height: 100%;
	width: 100%;
	margin-top: -20px;
	padding-top: 10px;
	

}

#titulo{
	text-align: center;
	color: white;
	background-color: transparent;
}

#nombreEjercicio{
	text-align: center;
	background-color: transparent;
	color: white;
}

#descripcion{
	text-align: justify;
	margin-top: 5%;
	width: 80%;
	margin-left: 10%;
	color: white;
	background-color: transparent;
}

#muestra{
	width: 130px;
	height: 120px;	
 }



#dicho{
	width: 80%;
	margin-left: 10%;
}

#ahora{
	color: black;
}

#boton {
	border-radius: 5px;
	width: 80%;

	height: 30px;
	margin: 20px;
	border: 1px solid #384049;
  color: white;
  cursor: pointer;
  font-family: Calibri,Arial;
  font-weight: 300;
  outline: none;
  text-shadow: 0px -1px 1px black;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
#boton{
   background-image: linear-gradient(#3aad02,#2c6f05);
}
#boton:active{
   background-image: linear-gradient(#2c6f05,#3aad02);
   text-shadow:      0px 1px 1px black;
}
@keyframes girar{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

