* {
	background-color: black;
}
.header {
  padding: 10px;
  position: relative;
  background: #da1010;
  color: white;
  font-size: 10px;
  z-index: 100000;

}

#caja{
	color: white;
	font-size: 14px;
}

.header img{
	width: 30%;
	background-color: transparent;


}

#pantalla{
	background-color: black; 
	height: 100%;
	transition: all 1s ease;
	z-index: 1000;
	position: absolute;

}

.table{
	
	text-decoration: none;
}

.table th{
	text-align: center;
	color: white;
	width: 50%;
}

#male{
	width: 50%;
}

#female{
	width: 50%;
}

#male:hover{
	opacity: .4;
}

#female:hover{
	opacity: .4;
}

#pantalla p{
	color: white;
	width: 80%;
	text-align: justify;
	margin: auto;
	margin-top: 40px;	
}

.glyphicon-play{
	border-radius: 5px;
	width: 80%;
	height: 30px;
	margin: 20px;
	border: 1px solid #384049;
  color: white;
  cursor: pointer;
  font-family: Calibri,Arial;
  font-weight: 50px;
  outline: none;
  text-shadow: 0px -1px 1px black;
  text-transform: uppercase;
  transition: all 0.2s ease;
   background-image: linear-gradient(#3aad02,#2c6f05);
   font-size: 20px;
	
}
footer{
	text-align: center;
	margin: auto;
	background-color: transparent;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 55px;
  color: white;

}

.glyphicon-play:hover{
   background-image: linear-gradient(#2c6f05,#3aad02);
   text-shadow:      0px 1px 1px black;
}

.completa{
	margin: auto;
	text-align: center;
	color: white;
	margin-top: 10px;
	
}

#preg{
	color: white;
	margin: auto;
	width: 80%;
}

