#flexionAcabada{
    visibility: hidden;
}
#sentadillaAcabada{
    visibility: hidden;
}
#abdominalesAcabada{
    visibility: hidden;
}
#fondosAcabada{
    visibility: hidden;
}

.header{
    text-align: center;
}

